<!-- <header class="header-container" (scroll)="onScroll()" [ngClass]="navbarfixed ? 'fixed':'nofixed'"> -->
    <div class="container">
      <div nz-row nzJustify="space-between" class="navbar">
        <div nz-col [nzSpan]="6" class="brand">Film</div>
          <div nz-col>
            <li class="navs">
              <ul class="nav-item">
                Trang chủ
              </ul>
              <ul class="nav-item">
                Series
              </ul>
              <ul class="nav-item" routerLink="/library">
                Thư viện
              </ul>
            </li>
          </div>
          <div nz-col [nzSpan]="6" class="account">
            <div nz-row>
              <nz-input-group nz-col [nzSpan]="12" [nzPrefix]="searchPrefix" [nzSuffix]="removeSuffix" nzSize="large">
                <!-- <input nz-input nzBorderless type="text" placeholder="" (keyup)="search($event)"/> -->
              </nz-input-group>
              <ng-template #searchPrefix>
                <span class="material-symbols-outlined">
                  search
                </span>
              </ng-template>
              <ng-template #removeSuffix>
                <!-- <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="searchInput != ''" (click)="removeSearch()" > -->
                  close
                <!-- </span> -->
              </ng-template>
              <div nz-col [nzSpan]="12">
                <app-login></app-login>
              </div>
            </div>
          </div>
      </div>
    </div>
  <!-- </header> -->
<section class="search__film">
    <div class="search__film-list row row-cols-5">
    <div *ngFor="let movie of movieLike ; index as i " class="search__film-item col">
      <div class="movie">
        <img [src]="movie.image" class="thumbnail"
          (mouseenter)="showName(i)"
          (mouseleave)="hideName(i)"
          (click)= "goMovie(movie.videoId)"/>
        <div id="{{i}}" class="movie-name" (click)="getDetail(movie)"
          (mouseenter)="showName(i)"
          (mouseleave)="hideName(i)">{{movie.name}}</div>
      </div>
    </div>
    </div>
  </section>
