*{
  padding:0;
  margin:0;

}

.row{
  margin: 0 !important;
}


.actions {
  width: fit-content;
  position: relative;
}

.player{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.no-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
}

.back{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.icon-back{
  width: 24px;
  height: 24px;
  color: #fff;
}

button {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #FED80E;
  margin: 8px;
  padding: 8px;
}

.secondary {
  border: none;
}

.primary {
  background-color: #FED80E;
  color: black
}

.icon-hide{
  width: 24px;
  height: 24px;
  color: #fff;
}
// member
.participants{
  display: flex;
  align-items: center;
  background-color: #737070;
}
.avatar{
  width: 36px;
  height: 36px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 0 0 2px #fff;
}
.avatar:not(:first-child){
  margin-left: -10px;
}
.avatar-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #908D8D;
}
.message {
  color: white;
  font-size: small;
  padding-bottom: 8px;
}
.message::-webkit-scrollbar {
  width: 1em;
}

.message::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.message::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.overlap {
  position: relative;
}

.chat {
  background-color: #2F2F2F;
  height: 100%;
  width: 100%;
}
.user-chat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}

.user-chat-range{
  max-height: 600px;
  background-color: #2F2F2F;
  padding: 0px 16px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  overflow-y: scroll;
}


.type-chat{
  display: flex;
  align-items: center;
}
input {
  width: 100%;
  height: 41px;
  border-radius: 5px;
  padding-left: 8px;
  border: none;
}

input:focus{
  outline: none;
}

.chat-enter{
  background-color: transparent;
  border: none;
  margin: 0;
}
.chat-enter:hover{
  background-color: #515151;
}

.player-option{
  position: absolute;
  left:-57px;
  top: 10%;
  width: 57px;
  height: fit-content;
  padding: 16px 0;
  background-color: red;
  border-radius: 4px 0 0 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0.1;
}
.player-option:hover {
    opacity: 1;
}


.modal-list-player{
  position: relative;
  height: 600px;
  width: 284px;
  text-align: center;
  overflow-y: auto;
}

.play-list{
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  background-color: #515151;

  img {
    width: 95%;
    height: 127px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  .queue-title {
    color: white;
  }
}

.current {
  border: 2px solid var(--primary);
}

.add-player{
//
}

.player-container {
}

.maxh {
  height: 100%;
}

.queue-player{
  overflow-y: auto
}
