
<div class="modal-popup">
    <div class="modal_header" [style.background-image]="'url(' + movie.image + ')'">
        <div class="modal_header_top">
            <div id="circle_button" (click)="activeModal.dismiss()"></div>
        </div>
        <div class="modal_header_bottom">
            <div class="modal_header_bottom_left">
                <div id="play_button" (click)="goToMovie(movie.videoId)" (click)="saveMovie(movie)">Play</div>
                <div id="add_button">+</div>
                <!-- <div id="subtract_button">-</div> -->
            </div>
            <div class="modal_header_bottom_right">
                <div id="volumn_button">
                    <img src="../../assets/icons/volumn.svg" alt="volumn" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal_body p-5">
        <div class="row justify-content-between">
            <div class=" col-6">
                <!-- <div class="modal_body_introduce_left_ratings">
                    <span>4.5</span>
                    <div id="stars">
                        <img src="./images/start_full.svg" alt="start_full">
                        <img src="./images/start_full.svg" alt="start_full">
                        <img src="./images/start_full.svg" alt="start_full">
                        <img src="./images/start_half.svg" alt="start_half">
                        <img src="./images/start_blank.svg" alt="start_blank">
                    </div>
                </div> -->
                <div class="modal_body_introduce_left_production">
                    <span>2022</span>
                    <div>{{movie.age}}+</div>
                    <span>1 season</span>
                    <div>HD</div>
                </div>
                <div class="modal_body_introduce_left_describe">
                    <!-- <div id="describe_name">
                        Mùa 1: Tập 1
                    </div> -->
                    <div id="describe_content">{{movie.description}}
                    </div>
                </div>
            </div>
            <div class=" col-6">
                <span>Diễn viên:</span>
                <span><strong>{{movie.dienVien}}</strong></span>
                <br />
                <span>Đạo diễn:</span>
                <span><strong>{{movie.daoDien}}</strong></span>
                <br />
                <span>Thể loại:</span>
                <span><strong>{{movie.theLoai}}</strong></span>
            </div>
        </div>
        <!-- <div class="modal_body_chapters">
            <div class="modal_body_chapters_info">
                <div id="info_chapter"><strong>Tập</strong></div>
                <div id="info_name"><strong>Mùa 1</strong></div>
            </div>

            <div class="modal_body_chapters_list">
                <div class="modal_body_chapters_list_item" id="chapter_1" >
                    <div class="chapter_index">1</div>
                    <div class="chapter_thumbnail">
                        <img src="../../assets/icons/thumbnail.png" alt="thumbnail">
                    </div>
                    <div class="chapter_content">
                        <div class="chapter_content_general">
                            <div class="chapter_content_general_name">Tập 1</div>
                            <div class="chapter_content_general_time">49p</div>
                        </div>
                        <div class="chapter_content_detail">Locating Thanos on an uninhabited planet, they plan to use the Infinity Stones to reverse his actions, but discover Thanos has already destroyed them to prevent further use</div>
                    </div>
                </div>
            </div>

            <div class="modal_body_chapters_more_button">
                <img src="../../assets/icons/arrow_down.svg" alt="more">
            </div>
        </div> -->
        <div class="modal_body_comments">
            <div class="modal_body_comments_title">
                Bình luận
            </div>
            <div class="modal_body_comments_content">
                <div *ngIf="user"  class="modal_body_comments_content_create">
                    <div class="comment_avatar">
                        <img [src]="user.photoURL" alt="avatar">
                    </div>
                    <div class="comment_new_content">Thêm bình luận...</div>
                </div>
                <div class="modal_body_comments_content_list">
                    <div class="modal_body_comments_content_list_item" id="comment_1" >
                        <div class="comment_avatar">
                            <img src="../../assets/icons/avatar.svg" alt="avatar">
                        </div>
                        <div class="comment_detail">
                            <div class="comment_detail_username">San</div>
                            <div class="comment_detail_content">Bộ phim xuất sắc</div>
                        </div>
                        <div class="comment_time">1 tháng trước</div>
                    </div>
                </div>
            </div>

            <div class="modal_body_comments_footer">
                <div class="modal_body_comments_footer_more_button">
                    <img src="../../assets/icons/arrow_down.svg" alt="more">
                </div>
            </div>
        </div>
        <div class="modal_body_relevant">
            <div class="modal_body_relevant_title">
                Nội dung tương tự
            </div>
            <div class="modal_body_relevant_content">
                <div class="modal_body_relevant_content_list">
                    <div *ngFor="let movie of similars ; index as i" class="modal_body_relevant_content_list_item" id="relevant_{{i+1}}">
                        <div class="relevant_thumbnail">
                            <img [src]="movie.image" alt="thumbnail">
                        </div>
                        <div class="relevant_body">
                            <div class="relevant_body_info">
                                <div class="relevant_body_info_left">
                                    <div>{{movie.age}}</div>
                                    <span>{{movie.year}}</span>
                                </div>
                                <div class="relevant_body_info_right">
                                    <div (click)="addLibraby(movie)" id="add_button">+</div>
                                </div>
                            </div>
                            <div class="relevant_body_describe">
                              {{ movie.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_body_comments_footer">
                <div class="modal_body_comments_footer_more_button">
                    <img src="../../assets/icons/arrow_down.svg" alt="more">
                </div>
            </div>
        </div>
        <!-- <div class="modal_body_trailers">
            <div class="modal_body_trailers_title">
                Trailer
            </div>
            <div class="modal_body_trailers_content">
                <div class="modal_body_trailers_content_list">
                    <div class="modal_body_trailers_content_list_item" id="trailer_1">
                        <div class="trailer_thumbnail">
                            <img src="./images/thumbnail_2.png" alt="thumbnail_2">
                        </div>
                        <div class="trailer_body">
                            Mùa 1: (Trailer): Jujusu Kaisen
                        </div>
                    </div>
                    <div class="modal_body_trailers_content_list_item" id="trailer_2">
                        <div class="trailer_thumbnail">
                            <img src="./images/thumbnail_2.png" alt="thumbnail_2">
                        </div>
                        <div class="trailer_body">
                            Mùa 1: (Trailer): Jujusu Kaisen
                        </div>
                    </div>
                    <div class="modal_body_trailers_content_list_item" id="trailer_3">
                        <div class="trailer_thumbnail">
                            <img src="./images/thumbnail_2.png" alt="thumbnail_2">
                        </div>
                        <div class="trailer_body">
                            Mùa 1: (Trailer): Jujusu Kaisen
                        </div>
                    </div>
                    <div class="modal_body_trailers_content_list_item" id="trailer_4">
                        <div class="trailer_thumbnail">
                            <img src="./images/thumbnail_2.png" alt="thumbnail_2">
                        </div>
                        <div class="trailer_body">
                            Mùa 1: (Trailer): Jujusu Kaisen
                        </div>
                    </div>
                    <div class="modal_body_trailers_content_list_item" id="trailer_5">
                        <div class="trailer_thumbnail">
                            <img src="./images/thumbnail_2.png" alt="thumbnail_2">
                        </div>
                        <div class="trailer_body">
                            Mùa 1: (Trailer): Jujusu Kaisen
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
