<div class="movie-thumbnail">
  <img src=""/>
</div>
<div class="ab">
  <div class="row gx-5">
    <div class="col">
      <div class="rating">*****</div>
      <br>
      <div class="description">
        Locating Thanos on an uninhabited planet, s
        they plan to use the Infinity Stones to reverse his actions,
        but discover Thanos has already destroyed them to prevent further use
      </div>

    </div>
    <div class="col">
      <div>
        Anh Quốc,Phước Hưng, Nhi Huỳnh, Quốc Hưng
      </div>
    </div>

  </div>
</div>
