<nz-header nz-row [ngClass]="{'sticky': searchInput}">
  <div class="logo">FILM</div>
  <li nz-col nzFlex="300px" nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
    <ul nz-menu-item routerLink="/" >
      Trang chủ
    </ul>
    <ul nz-menu-item>
      Series
    </ul>
    <ul nz-menu-item routerLink="/library">
      Thư viện
    </ul>
  </li>
  <div nz-col nzFlex="auto" class="text-center">
    <nz-input-group
      [nzPrefix]="searchPrefix" [nzSuffix]="removeSuffix"
      nzSize="large" class="my-2" [style.max-width]="'400px'">
      <input nz-input nzBorderless type="text" placeholder="" [(ngModel)]="searchInput"
        (keyup)="search($event)"/>
    </nz-input-group>
  </div>

  <div nz-col nzFlex="200px">
    <div nz-row [nzAlign]="'middle'" [style.margin-top]="'4px'">
      <div *ngIf="!isSignedIn; else SignedIn">
        <button nz-button nzType="primary" (click)="signIn()" [style.height]="'100%'">Đăng nhập</button>
      </div>
      <ng-template #SignedIn>
        <button nz-button nzType="default" (click)="showModal()" [style.height]="'100%'" class="mr-4">Đăng xuất</button>
        <nz-avatar nzIcon="user" [nzSrc]="avatar" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
        </nz-avatar>
      </ng-template>
    </div>
  </div>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu [style.background-color]="'#232323'">
      <li class="menu-item" (click)="signOut()" >Đăng xuất</li>
    </ul>
  </nz-dropdown-menu>

</nz-header>

<section *ngIf="searchInput" class="search__film">
  <div class="search__film-list row row-cols-5">
      <div *ngFor="let movie of movieList | filter:searchKey:'name'; index as i " class="search__film-item col">
        <div class="movie">
          <img [src]="movie.image"
            (click)= "goMovie(movie.videoId)"/>
            <div class="movie-infor">
              <div class="movie-infor-left">
                <div class="movie-intro">
                  <span>2022</span>
                  <div>{{movie.age}}+</div>
                  <span>1 season</span>
                  <div>HD</div>
                </div>
                <div  class="movie-name" (click)="getDetail(movie)">{{movie.name}}</div>
              </div>
              <div class="movie-infor-right">
                <div class="btn-show-details" title="Thông tin phim" (click)="getDetail(movie)">
                  <img src="../../assets/icons/arrow_down.svg" alt="more">
                </div>
                <div class="btn-show-details" (click)="goMovie(movie.videoId)">
                  <img src="../../assets/icons/play_arrow_black_24dp.svg" alt="">
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>

<ng-template #searchPrefix>
  <span class="material-symbols-outlined">
    search
  </span>
</ng-template>
<ng-template #removeSuffix>
  <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="searchInput != ''" (click)="removeSearch()" >
    close
  </span>
</ng-template>
