
* {
  color: #FED80E;
  --item-width: 227px;
}
.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  // background-image: linear-gradient(black, transparent);
}
.fixed{
  background-color: rgb(20, 20, 20);
}

.nofixed{
  background-color: linear-gradient(black, transparent);
  background: linear-gradient(to bottom, rgb(20, 20, 20) 0%,transparent 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-height: 80px;
}

.brand {
  font-weight: 700;
  font-size: 1.5rem !important;
  letter-spacing: 0.3ch;
}

.navs {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navs ul {
  cursor: pointer;
  margin: 8px;
  padding: 8px;
}

.navbar * {
  font-size: 0.9em;
}
.account{
  display: flex;
  align-items: center;
}
button {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #FED80E;
  margin: 8px;
  padding: 8px;
}
.searchBox{
  display: inline-block;
  vertical-align: middle;
}
.searchTab{
  border: none;
  margin: 0;
  padding: 0;
}
#input-searchTab:checked ~ .searchInput{
  display: block;
}
.searchInput{
  align-items: center;
  background: rgba(0,0,0,.75);
  border: solid 1px rgba(255,255,255,.85);
  display: flex;
    -webkit-box-align: center;
  // display: none;
}
.searchInput .search-icon{
  margin: 0 6px;
}
.searchInput input {
  color: #fff;
  display: inline-block;
  background: 0 0;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 14px 7px 7px;
  font-size: 14px;
  width: 212px;
  outline: 0;
}
.searchInput .icon-close{
  cursor: pointer;
  font-size: 13px;
  margin: 0 6px;
}
.secondary {
  border: none;
}

.primary {
  background-color: #FED80E;
  color: black
}
.home {
  position: relative;
  overflow: hidden;
}

.title {
  color: white;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 16px;
}

.popular-item {
  margin-right: 6px;
  list-style-type: none;
  cursor: pointer;
}

.movie {
  position: relative;
  width: var(--item-width);
  height: 128px;
  & img{
    width: var(--item-width);
    height: 128px;
    border-radius: 4px;
  }
  &:hover{
    transform: scale(1.5);
    transition: ease-in 0.1s;
    transition-delay: 0.5s;
    background-color: #282828;
    border-radius: 4px;
    z-index: 100;
    height: 180px;
    & img{
      border-radius: 4px 4px 0 0;
      transition-delay: 0.5s;
    }
    & .movie-infor{
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
    }
  }
}
.movie-infor{
  opacity: 0;
  visibility: hidden;
  display: flex;
  &-right{
    margin: 8px;
    display: flex;
  }
}
.movie-intro{
  width: 100%;
  padding: 8px;
  color:#FED80E;
  font-size: 8px;
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  & div{
    border: 1px solid #FFF;
    padding: 0px 2px;
  }
}
.movie-name {
  background-color: #282828;
  width: 100%;
  padding: 0 8px;
  color:#FED80E;
  font-size: 8px;
}
.btn-show-details{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #737070;
  cursor: pointer;
  & img{
    width: 12px;
    height: 12px;
  }
  &:hover{
    border: 1px solid #fff;
  }
  &:not(:first-child){
    margin-left: 8px;
    background-color: #fff;
  }
}
// .active {
//   transform: scale(1.3);
//   transition: ease-in 0.3s;
//   background-color: black;
//   border: 1px solid #c4c4c4;
// }

.modal-content{
  border: none!important;
}

// .show {
//   display: block;
//   transition: all 1s;
// }

.search__film{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: fit-content;
  min-height: calc(100vh - 80px);
  margin-top: 64px;
  padding: 45px;
  z-index: 90;
  background-color: rgba(black,0.95);
  &-list{
    padding: 0 60px;
    &-item{
      box-sizing: border-box;
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 0.2vw;
    }
  }
}
.search__film-list {
  .search__film-item {
    margin-bottom: 48px;
  }
}

.search-item {
  min-width: 200px;
  width: 100%;
  height: 200px;
  background-color: #282828;
  padding: 8px;
  border-radius: 5px;
  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    z-index: -1;
  }
  div {
    padding: 8px;
    color:#FED80E;
    font-size: medium;
  }
}
