<div class="container">
  <div nz-row nzJustify="space-between" class="navbar">
    <div nz-col [nzSpan]="6" nzLg="6" nzMd="12" nzSm="12" nzXs="12" class="brand">Film</div>
      <div nz-col  nzLg="12" nzMd="0" nzSm="0" nzXs="0">
        <li class="navs">
          <ul class="nav-item">
            Trang chủ
          </ul>
          <ul class="nav-item">
            Series
          </ul>
          <ul class="nav-item" routerLink="/library">
            Thư viện
          </ul>
        </li>
      </div>
      <div nz-col [nzSpan]="6"  nzLg="6" nzMd="12" nzSm="12" nzXs="12" class="account">
        <div nz-row nzAlign="middle">
          <nz-input-group nz-col [nzSpan]="12" [nzPrefix]="searchPrefix" [nzSuffix]="removeSuffix" nzSize="large" class="my-2">
            <input nz-input nzBorderless type="text" placeholder="" [(ngModel)]="searchInput"
              (ngModelChange)="search()"/>
          </nz-input-group>
          <ng-template #searchPrefix>
            <span class="material-symbols-outlined">
              search
            </span>
          </ng-template>
          <ng-template #removeSuffix>
            <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="searchInput != ''" (click)="removeSearch()" >
              close
            </span>
          </ng-template>
          <div nz-col [nzSpan]="12">
            <app-login></app-login>
          </div>
        </div>
      </div>
  </div>
</div>

<section *ngIf="searchInput" class="search__film">
  <div nz-row [nzGutter]="24">
    <div nz-col *ngFor="let movie of movieList | filter:searchKey:'name'; index as i " class="pb-4">
      <div class="movie">
        <img [src]="movie.image" class="thumbnail"
          (mouseenter)="showName(i)"
          (mouseleave)="hideName(i)"
          (click)= "goMovie(movie.videoId)"/>
        <div id="{{i}}" class="movie-name" (click)="getDetail(movie)"
          (mouseenter)="showName(i)"
          (mouseleave)="hideName(i)">{{movie.name}}</div>
      </div>
    </div>
  </div>
</section>
