
  <div class="search-player">
    <input type="text"/>
  </div>
  <!-- <div class="list-player">
    <div class="movie" *ngFor="let movie of movieList">
      <img [src]="movie.image" class="thumbnail"/>
      <div class="movie-name">{{movie.name}}</div>
      <button class="btn btn-primary" (click)="addMovieToQueue(movie)">Add</button>
    </div>
  </div> -->
  <div class="modal_body_relevant_content">
    <div class="modal_body_relevant_content_list">
        <div *ngFor="let movie of movieList" class="modal_body_relevant_content_list_item" id="relevant_1">
            <div class="relevant_thumbnail">
                <img [src]="movie.image" alt="thumbnail">
            </div>
            <div class="relevant_body">
                <div class="relevant_body_info">
                    <div class="relevant_body_info_left">
                        <div>+16</div>
                        <span>{{movie.year}}</span>
                    </div>
                    <div class="relevant_body_info_right" (click)="addMovieToQueue(movie)">
                        <div id="add_button">+</div>
                    </div>
                </div>
                <div class="relevant_body_describe">
                  {{ movie.name }}
                </div>
            </div>
        </div>
    </div>
</div>

