
  <div class="search-player">
    <div nz-col nzFlex="auto" class="text-center">
      <nz-input-group
        [nzPrefix]="searchPrefix" [nzSuffix]="removeSuffix"
        nzSize="large" class="my-2" [style.max-width]="'400px'">
        <input nz-input nzBorderless type="text" placeholder="" [(ngModel)]="searchInput"
          (keyup)="search($event)"/>
      </nz-input-group>
    </div>
  </div>
  <!-- <div class="list-player">
    <div class="movie" *ngFor="let movie of movieList">
      <img [src]="movie.image" class="thumbnail"/>
      <div class="movie-name">{{movie.name}}</div>
      <button class="btn btn-primary" (click)="addMovieToQueue(movie)">Add</button>
    </div>
  </div> -->

  <div class="modal_body_relevant_content">
    <div class="modal_body_relevant_content_list">
        <div *ngFor="let movie of movieList | filter: searchKey: 'name' ; index as i " class="modal_body_relevant_content_list_item" id="relevant_{{i+1}}">
            <div class="relevant_thumbnail">
                <img [src]="movie.image" alt="thumbnail">
            </div>
            <div class="relevant_body">
                <div class="relevant_body_info">
                    <div class="relevant_body_info_left">
                        <div>+16</div>
                        <span>{{movie.year}}</span>
                    </div>
                    <div class="relevant_body_info_right" (click)="addMovieToQueue(movie)">
                        <div id="add_button">+</div>
                    </div>
                </div>
                <div class="relevant_body_describe">
                  {{ movie.name }}
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchPrefix>
  <span class="material-symbols-outlined">
    search
  </span>
</ng-template>
<ng-template #removeSuffix>
  <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="searchInput != ''" (click)="removeSearch()" >
    close
  </span>
</ng-template>
