/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html, body {
  background-color: black;
  height: 100%;
}
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
:root {
  --primary: #FED80E;
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #c1a60d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FED80E;
}
