<main class="home">
  <section class="banner">
    <div class="banner-img ride"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-11 col-sm-8 col-lg-6">
                  <div class="title">Avenger Endgame</div>
                  <div class="description">In 2018, twenty-three days after Thanos killed half of all life in the universe, Carol Danvers rescues Tony Stark and Nebula from deep space and they reunite with the remaining Avengers—Bruce Banner, Steve Rogers, Thor, Natasha Romanoff, and James Rhodes—and Rocket on Earth. Locating Thanos on an uninhabited planet, they plan to use the Infinity Stones to reverse his actions, but discover Thanos has already destroyed them to prevent further use. Enraged, Thor decapitates Thanos. </div>
                  <div class="actions">
                    <button nz-button nzType="primary" nzSize="large">Xem phim</button>
                    <button nz-button nzType="default" nzSize="large" routerLink="movie/1">Chi tiết</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="popular" id="list-film-1">
    <div class="list-title">Thịnh hành</div>
    <li id="poplist" class="popular-list">

      <ul *ngFor="let movie of movieList" class="popular-item">
        <div class="movie">
          <img [src]="movie.image" class="thumbnail"
            (click)="goMovie(movie.videoId)"/>
            <div class="movie-infor">
              <div class="movie-infor-left">
                <div class="movie-intro">
                  <span>2022</span>
                  <div>{{movie.age}}+</div>
                  <span>1 season</span>
                  <div>HD</div>
                </div>
                <div  class="movie-name" (click)="getDetail(movie)">{{movie.name}}</div>
              </div>
              <div class="movie-infor-right">
                <div class="btn-show-details" title="Thông tin phim" (click)="getDetail(movie)">
                  <img src="../../assets/icons/arrow_down.svg" alt="more">
                </div>
                <div class="btn-show-details" (click)="goMovie(movie.videoId)">
                  <img src="../../assets/icons/play_arrow_black_24dp.svg" alt="">
                </div>
              </div>
            </div>
        </div>
      </ul>
    </li>
    <button type="button" class="btn-prev" appPrev>Prev</button>
    <button type="button" class="btn-next" appNext>Next</button>
  </div>

  <div class="popular" id="list-film-2" *ngIf="movieWatched">
    <div class="list-title">Danh sách tiếp tục xem</div>
    <li class="popular-list">
      <ul *ngFor="let movie of movieWatched; index as i" class="popular-item" (click)="goMovie(movie.videoId)">
        <div class="movie" [ngClass]="{'active': i == currentPopular}">
          <img [src]="movie.image" class="thumbnail"/>
          <div class="movie-name" (click)="getDetail(movie)">{{movie.name}}</div>
        </div>
      </ul>
    </li>
  </div>
  <div class="popular" id="list-film-3">
    <div class="list-title">Phát hành trong năm</div>
    <li id="poplist" class="popular-list">
      <ul *ngFor="let movieY of movieYear" class="popular-item">
        <div class="movie">
          <img [src]="movieY.image" class="thumbnail"
            (click)="goMovie(movieY.videoId)"/>
          <div class="movie-infor">
            <div class="movie-infor-left">
              <div class="movie-intro">
                <span>2022</span>
                <div>{{movieY.age}}+</div>
                <span>1 season</span>
                <div>HD</div>
              </div>
              <span class="movie-name" (click)="getDetail(movieY)">{{movieY.name}}</span>
            </div>
            <div class="movie-infor-right">
              <div class="btn-show-details" title="Thông tin phim" (click)="getDetail(movieY)">
                <img src="../../assets/icons/arrow_down.svg" alt="more">
              </div>
              <div class="btn-show-details" (click)="goMovie(movieY.videoId)">
                <img src="../../assets/icons/play_arrow_black_24dp.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </ul>
    </li>
    <button type="button" class="btn-prev" appPrev>Prev</button>
    <button type="button" class="btn-next" appNext>Next</button>
  </div>
  <div class="popular" id="list-film-3">
    <div class="list-title">Phim Âu - Mỹ</div>
    <li id="poplist" class="popular-list">
      <ul *ngFor="let movieY of hollywood" class="popular-item">
        <div class="movie">
          <img [src]="movieY.image" class="thumbnail"
            (click)="goMovie(movieY.videoId)"/>
          <div class="movie-infor">
            <div class="movie-infor-left">
              <div class="movie-intro">
                <span>2022</span>
                <div>{{movieY.age}}+</div>
                <span>1 season</span>
                <div>HD</div>
              </div>
              <span class="movie-name" (click)="getDetail(movieY)">{{movieY.name}}</span>
            </div>
            <div class="movie-infor-right">
              <div class="btn-show-details" title="Thông tin phim" (click)="getDetail(movieY)">
                <img src="../../assets/icons/arrow_down.svg" alt="more">
              </div>
              <div class="btn-show-details" (click)="goMovie(movieY.videoId)">
                <img src="../../assets/icons/play_arrow_black_24dp.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </ul>
    </li>
    <button type="button" class="btn-prev" appPrev>Prev</button>
    <button type="button" class="btn-next" appNext>Next</button>
  </div>
</main>
<div class="home-footer">
</div>
